.about {
  font-size: 100px;
  font-weight: bold;
  color: blueviolet;
  font-variant-ligatures: additional-ligatures;
}

.text {
  font-size: x-large;
  font-variant: inherit;
  color: red;
  background-color: chartreuse;
}
.msg {
  color: blue;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
